<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Guru 99 Test suite">
  <test name="Basic Scenario Testing">
    <classes>
      <class name="day8.GuruProject"/>
    </classes>
  </test> <!-- Basic Scenario Testing -->
</suite> <!-- Guru 99 Test suite -->
